/biome
/crash-reports
/coremods
/llibrary
/logs
/.mixin.out
/mods
/saves
/screenshots
/server-resource-packs
/TombManyGraves

BiomeDump.txt
crafttweaker.log
tailslibrary.json
usercache.json
usernamecache.json
options.txt
icon.png

/config/splash.properties
/config/BiomeTweaker/output
/config/jei/bookmarks.ini
/config/jei/worldSettings.cfg
/config/tails.cfg
/config/MouseTweaks.cfg
/config/ichunutil.cfg
/config/ichunutil_keybinds.cfg
/config/cherishedworlds/favorites.dat
/config/randomtweaks/data.json

