# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:blacklistTickingBlocks=true
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=256760
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    B:requireBagSpace=false
    I:stoneChiselUses=8384
    B:voidExcessBits=false
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:alsender.earthworks.block.Block_Chalk=true
    B:alsender.earthworks.block.Block_Gabion=true
    B:alsender.earthworks.block.Block_Wood_Shingle=true
    B:alsender.earthworks.block.ModBlock=true
    B:alsender.earthworks.block.ModBlockFacing=true
    B:alsender.earthworks.block.ModRotatedPillar=true
    B:alsender.earthworks.block.timber.Daub_Cob=true
    B:alsender.earthworks.block.timber.Plaster=true
    B:azmalent.backportedflora.common.block.BlockDriedKelp=true
    B:betterwithmods.common.blocks.BlockAesthetic=true
    B:betterwithmods.common.blocks.BlockBUD=true
    B:betterwithmods.common.blocks.BlockBrokenGearbox=true
    B:betterwithmods.common.blocks.BlockCobble=true
    B:betterwithmods.common.blocks.BlockNetherClay=true
    B:betterwithmods.common.blocks.BlockSteel=true
    B:betterwithmods.common.blocks.BlockWolf=true
    B:biomesoplenty.common.block.BlockBOPAsh=true
    B:biomesoplenty.common.block.BlockBOPBiomeBlock=true
    B:biomesoplenty.common.block.BlockBOPCrystal=true
    B:biomesoplenty.common.block.BlockBOPGem=true
    B:biomesoplenty.common.block.BlockBOPGemOre=true
    B:biomesoplenty.common.block.BlockBOPGeneric=true
    B:biomesoplenty.common.block.BlockBOPHive=true
    B:biomesoplenty.common.block.BlockBOPLog=true
    B:biomesoplenty.common.block.BlockBOPPlanks=true
    B:biomesoplenty.common.block.BlockBOPWhiteSand=true
    B:biomesoplenty.common.block.BlockBOPWhiteSandstone=true
    B:"blusunrize.immersiveengineering.common.IEContent$1"=true
    B:blusunrize.immersiveengineering.common.blocks.BlockIEBase=true
    B:blusunrize.immersiveengineering.common.blocks.metal.BlockMetalDecoration0=true
    B:com.teamacronymcoders.contenttweaker.modules.vanilla.blocks.BlockContent=true
    B:com.theprogrammingturkey.gobblecore.blocks.BaseBlock=true
    B:com.valkyrieofnight.em.base.blocks.EMBlockOD=true
    B:"com.valkyrieofnight.em.m_alabaster.features.ABlocks$1"=true
    B:"com.valkyrieofnight.em.m_alabaster.features.ABlocks$2"=true
    B:"com.valkyrieofnight.em.m_alabaster.features.ABlocks$3"=true
    B:"com.valkyrieofnight.em.m_alabaster.features.ABlocks$4"=true
    B:dmfmm.catwalks.block.StairBlock=true
    B:flaxbeard.immersivepetroleum.common.blocks.BlockIPBase=true
    B:fluke.stygian.block.BlockEndGrass=true
    B:fluke.stygian.block.BlockEndLog=true
    B:fluke.stygian.block.BlockEndPlanks=true
    B:fluke.stygian.block.BlockEnderObsidian=true
    B:forestry.arboriculture.blocks.BlockCharcoal=true
    B:forestry.arboriculture.blocks.BlockLoam=true
    B:forestry.core.blocks.BlockAshBrick=true
    B:forestry.core.blocks.BlockResourceOre=true
    B:forestry.core.blocks.BlockResourceStorage=true
    B:ivorius.reccomplex.block.BlockGenericSolid=true
    B:knightminer.ceramics.blocks.BlockClayHard=true
    B:knightminer.ceramics.blocks.BlockClayRainbow=true
    B:knightminer.ceramics.blocks.BlockClaySoft=true
    B:knightminer.ceramics.blocks.BlockStained=true
    B:knightminer.inspirations.building.block.BlockMulch=true
    B:logisticspipes.blocks.LogisticsSolidBlock=true
    B:mctmods.immersivetechnology.common.blocks.stone.BlockStoneDecoration=true
    B:me.ichun.mods.ichunutil.common.block.BlockCompactPorkchop=true
    B:"mekanism.common.block.BlockBasic$1"=true
    B:mekanism.common.block.BlockOre=true
    B:mekanism.common.block.BlockPlastic=true
    B:mekanism.common.block.BlockSalt=true
    B:mod.flatcoloredblocks.block.BlockFlatColored=true
    B:mod.flatcoloredblocks.block.BlockFlatColoredTranslucent=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockConcretePowder=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlazedTerracotta=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockMycelium=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStainedHardenedClay=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:panda.leatherworks.common.block.BlockDebarkedLog=true
    B:panda.leatherworks.common.block.BlockDummyWood=true
    B:panda.leatherworks.common.block.BlockDummyWoodPillar=true
    B:pl.asie.debark.BlockDebarkedLog=true
    B:primal_tech.blocks.BlockCharcoal=true
    B:primal_tech.blocks.BlockFlint=true
    B:prospector.traverse.blocks.base.BlockTraverse=true
    B:prospector.traverse.blocks.base.BlockTraverseWoodLog=true
    B:prospector.traverse.blocks.base.BlockTraverseWoodPlanks=true
    B:ru.liahim.masonry.content.MasonryBlock=true
    B:rustic.common.blocks.BlockBase=true
    B:rustic.common.blocks.BlockClayWallDiag=true
    B:rustic.common.blocks.BlockFertileSoil=true
    B:rustic.common.blocks.BlockLogRustic=true
    B:rustic.common.blocks.BlockPillar=true
    B:rustic.common.blocks.BlockPlanksRustic=true
    B:sandro.RedstonePlusPlus.Modules.ImprovedPistons.HalfBlocks.BlockCompressedCobblestone=true
    B:sandro.RedstonePlusPlus.Modules.ImprovedPistons.HalfBlocks.BlockHalfObsidian=true
    B:sandro.RedstonePlusPlus.Modules.ImprovedPistons.HalfBlocks.BlockHalfRedstone=true
    B:sandro.RedstonePlusPlus.Modules.Miscellaneous.DebugBlock.BlockDebug=true
    B:sandro.RedstonePlusPlus.Modules.Miscellaneous.SeaLanterns.BlockSeaLanternFix=true
    B:se.mickelus.tetra.blocks.forged.BlockForgedPlatform=true
    B:shadows.fastbench.block.BlockFastBench=true
    B:svenhjol.charm.automation.block.BlockGunpowder=true
    B:svenhjol.charm.automation.block.BlockRedstoneSand=true
    B:svenhjol.charm.automation.block.BlockVariableRedstoneLight=true
    B:svenhjol.charm.crafting.block.BlockEnderPearl=true
    B:svenhjol.charm.crafting.block.BlockSmoothGlowstone=true
    B:thedarkcolour.core.block.FBlock=true
    B:thedarkcolour.futuremc.block.BlueIceBlock=true
    B:therealfarfetchd.quacklib.common.block.BlockNikoliteOre=true
    B:vazkii.quark.automation.block.BlockSugar=true
    B:vazkii.quark.building.block.BlockBark=true
    B:vazkii.quark.building.block.BlockCarvedWood=true
    B:vazkii.quark.building.block.BlockCharredNetherBricks=true
    B:vazkii.quark.building.block.BlockDuskbound=true
    B:vazkii.quark.building.block.BlockDuskboundLantern=true
    B:vazkii.quark.building.block.BlockHardenedClayTiles=true
    B:vazkii.quark.building.block.BlockIronPlate=true
    B:vazkii.quark.building.block.BlockMagmaBricks=true
    B:vazkii.quark.building.block.BlockMidori=true
    B:vazkii.quark.building.block.BlockMidoriPillar=true
    B:vazkii.quark.building.block.BlockNewSandstone=true
    B:vazkii.quark.building.block.BlockPolishedNetherrack=true
    B:vazkii.quark.building.block.BlockPolishedStone=true
    B:vazkii.quark.building.block.BlockQuiltedWool=true
    B:vazkii.quark.building.block.BlockSandyBricks=true
    B:vazkii.quark.building.block.BlockSnowBricks=true
    B:vazkii.quark.building.block.BlockSoulSandstone=true
    B:vazkii.quark.building.block.BlockStainedClayTiles=true
    B:vazkii.quark.building.block.BlockStainedPlanks=true
    B:vazkii.quark.building.block.BlockTurf=true
    B:vazkii.quark.building.block.BlockVerticalPlanks=true
    B:vazkii.quark.building.block.BlockVerticalStainedPlanks=true
    B:vazkii.quark.building.block.BlockWorldStoneBricks=true
    B:vazkii.quark.building.block.BlockWorldStoneCarved=true
    B:vazkii.quark.building.block.BlockWorldStonePavement=true
    B:vazkii.quark.decoration.block.BlockBlazeLantern=true
    B:vazkii.quark.decoration.block.BlockCustomBookshelf=true
    B:vazkii.quark.decoration.block.BlockLitLamp=true
    B:vazkii.quark.world.block.BlockBasalt=true
    B:vazkii.quark.world.block.BlockBiomeBrick=true
    B:vazkii.quark.world.block.BlockBiomeCobblestone=true
    B:vazkii.quark.world.block.BlockBiotite=true
    B:vazkii.quark.world.block.BlockBiotiteOre=true
    B:vazkii.quark.world.block.BlockCrystal=true
    B:vazkii.quark.world.block.BlockElderPrismarine=true
    B:vazkii.quark.world.block.BlockElderSeaLantern=true
    B:vazkii.quark.world.block.BlockJasper=true
    B:vazkii.quark.world.block.BlockLimestone=true
    B:vazkii.quark.world.block.BlockMarble=true
    B:vazkii.quark.world.block.BlockSlate=true
    B:vibrantjourneys.blocks.BlockCrackedSand=true
    B:vibrantjourneys.blocks.BlockStoneBlock=true
    B:vibrantjourneys.blocks.wood.BlockBark=true
    B:vibrantjourneys.blocks.wood.BlockPVJLog=true
    B:vibrantjourneys.blocks.wood.BlockPVJPlanks=true
    B:wile.engineersdecor.blocks.BlockDecor=true
    B:wile.engineersdecor.blocks.BlockDecorFull=true
    B:zmaster587.advancedRocketry.block.BlockCharcoalLog=true
    B:zmaster587.advancedRocketry.block.BlockIntake=true
    B:zmaster587.advancedRocketry.block.BlockLinkedHorizontalTexture=true
    B:zmaster587.advancedRocketry.block.BlockMiningDrill=true
    B:zmaster587.advancedRocketry.block.BlockNuclearCore=true
    B:zmaster587.advancedRocketry.block.BlockRegolith=true
    B:zmaster587.advancedRocketry.block.BlockVacuumLaser=true
    B:zmaster587.advancedRocketry.block.plant.BlockLightwoodPlanks=true
    B:zmaster587.advancedRocketry.block.plant.BlockLightwoodWood=true
    B:zmaster587.libVulpes.block.BlockFullyRotatable=true
    B:zmaster587.libVulpes.block.BlockOre=true
}


"integration settings" {
    B:ShowBitsInJEI=false
    B:enableMCMultipart=true
    B:enableVivecraftCompatibility=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=false
    B:enableTapeMeasure=true
    B:enableWoodenWrench=false
}


"revertible states" {
    B:"minecraft%3Astone?variant=stone"=true
    B:"quark%3Apolished_stone?"=true
}


troubleshooting {
    B:disableCustomVertexFormats=false
    B:enableAPITestingItem=false
    B:enableFaceLightmapExtraction=true
    B:logEligibilityErrors=false
    B:logTileErrors=false
    B:useGetLightValue=true
}


