# Configuration file

general {
    # A list of blocks that disallow paths under them. Format: modid:name:propertyname1=propertyvalue1,propertyname2=propertyvalue2,...
    # Examples: minecraft:glass, minecraft:*, minecraft:stone:variant=granite, minecraft:oak_stairs:facing=east, minecraft:oak_stairs:half=top, minecraft:oak_stairs:facing=east,half=top
    S:blocksBlacklist <
     >

    # A list of blocks that allow paths under them. Format: modid:name:propertyname1=propertyvalue1,propertyname2=propertyvalue2,...
    # Examples: minecraft:glass, minecraft:*, minecraft:stone:variant=granite, minecraft:oak_stairs:facing=east, minecraft:oak_stairs:half=top, minecraft:oak_stairs:facing=east,half=top
    S:blocksWhitelist <
        ore:fenceGateWood
        engineersdecor:steel_mesh_fence_gate
        engineersdoors:fencegate_aluminium
        engineersdoors:fencegate_steel
        engineersdoors:fencegate_treated
        rustic:fence_gate_ironwood
        rustic:fence_gate_olive
        quark:nether_brick_fence_gate
     >
}


