# Configuration file

general {
    # Block registry names for fluids that should be made finite
    S:finiteFluids <
        water
     >

    # Biomes in which these fluids should be infinite
    S:infiniteBiomes <
        minecraft:ocean
        minecraft:deep_ocean
        minecraft:beach
        minecraft:stone_beach
        minecraft:cold_beach
        minecraft:beaches
        minecraft:river
        minecraft:frozen_river
        minecraft:swampland
        minecraft:mutated_swampland
        pvj:willow_swamp
        advancedrocketry:deepswamp
        biomesoplenty:mangrove
        biomesoplenty:bayou
        biomesoplenty:quagmire
        biomesoplenty:coral_reef
        biomesoplenty:kelp_forest
     >

    # Dimensions in which these fluids should be infinite
    I:infiniteDimensions <
     >

    # Minimum y-level in which fluids can form new source blocks.
    # Min: 0
    # Max: 255
    I:maxHeight=64

    # Maximum y-level in which fluids can form new source blocks.
    # Min: 0
    # Max: 255
    I:minHeight=0
}


